#planet1 {
    Position:absolute;
    left: 0px;
    top: 100px;
    z-index: 7;
}
#planet2 {
    Position:absolute;
    left: 75px;
    top: 130px;
    z-index: 8;
}
#planet3 {
    Position:absolute;
    left: 150px;
    top: 160px;
    border: blue thick inset;
    z-index: 9;
}
#planet4 {
    Position:absolute;
    left: 225px;
    top: 190px;
    z-index: 8;
}
#planet5 {
    Position:absolute;
    left: 300px;
    top: 220px;
    z-index: 7;
}
#planet6 {
    Position:absolute;
    left: 375px;
    top: 250px;
    z-index: 6;
}
#planet7 {
    Position:absolute;
    left: 450px;
    top: 280px;
    z-index: 5;
}
#planet8 {
    Position:absolute;
    left: 525px;
    top: 310px;
    z-index: 4;
}
#planet9 {
    Position:absolute;
    left: 600px;
    top: 340px;
    border: red thin dashed;
    z-index: 3;
}


.endofpage {
    width: 660px;
    margin-left: 20px;
    margin-top: 450px;
    height: 150px;
    padding: 10px;
    border: red thick outset;
}    
#column1 {
    text-align: left 45%;
    color: green;
    
}
#column2 {
    text-align: right 50%;
    color: blue;
    
}