#planet1 {
    Position:absolute;
    left: calc(75*0px);
    top: calc(30*1px);
}
#planet2 {
    Position:absolute;
    left: calc(75*1px);
    top: calc(30*2px);
}
#planet3 {
    Position:absolute;
    left: calc(75*2px);
    top: calc(30*3px);
}
#planet4 {
    Position:absolute;
    left: calc(75*3px);
    top: calc(30*4px);
}
#planet5 {
    Position:absolute;
    left: calc(75*4px);
    top: calc(30*5px);
}
#planet6 {
    Position:absolute;
    left: calc(75*5px);
    top: calc(30*6px);
}
#planet7 {
    Position:absolute;
    left: calc(75*6px);
    top: calc(30*7px);
}
#planet8 {
    Position:absolute;
    left: calc(75*7px);
    top: calc(30*8px);
}
#planet9 {
    Position:absolute;
    left: calc(75*8px);
    top: calc(30*9px);
}


.endofpage {
    width: 660px;
    margin-left: 20px;
    margin-top: 450px;
    height: 150px;
    padding: 10px;
    border: red thick outset;
}    
#column1 {
    width: 45%;
    color: green;
    
}
#column2 {
    width: 50%;
    color: blue;
    
}