
.endofpage {
    width: 660px;
    margin-left: 20px;
    margin-top: 450px;
    height: 150px;
    padding: 10px;
    border: red thick outset;
}    
#column1 {
    text-align: 45%;
    color: green;
    
}
#column2 {
    text-align: 50%;
    color: blue;
    
}